<!-- Side navigation -->
    <div class="sidenav">
      <h3><b>Crocagile</b></h3>
      <a href="graph.html">Graphs</a>
      <a href="history.html">History</a>
      <a href="position.html">Position</a>
    </div>


 