/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* 
#from {
  width: 200px;
}
#to{
  font-size: .8em;
} */

  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav h3 {
    font-size: 30px;
    color: green;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 #title {
  text-align: center;
  font-family: arial, sans-serif;
}

#instruments {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 75%;
  margin: auto
}

#instruments td, #instruments th {
  border: 1px solid #ddd;
  padding: 8px;
}

#instruments tr:nth-child(even){background-color: #f2f2f2;}

#instruments tr:hover {background-color: #ddd;}

#instruments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.myGraph{


  width: 65%;
  margin: -10px auto;
  padding: 70px;
  border-width: 10px;
}

#submitbtn {
  margin-top: 20px;
}

.avgTable{

margin-top: 35px;
right: -50px;
  
}


#avprices {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 75%;
  margin: auto
}

#avprices td, #avprices th {
  border: 1px solid #ddd;
  padding: 8px;
}

#avprices tr:nth-child(even){background-color: #f2f2f2;}

#avprices tr:hover {background-color: #ddd;}

#avprices th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
